<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>Kwaprow Hostels</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous" />
    <link rel="stylesheet" href="/static/css/styles.css">
</head>

<body>

    <nav style="background-color: #253745;" class="navbar mb-5">
        <div class="container-fluid justify-content-center">
            <span style="color: #fff;" class="navbar-brand">
                <h3><b>Available Hostels</b></h3>
            </span>
        </div>
    </nav>

    <section id="main-section">
        <div class="contianer-fluid">
            <div class="row text-center">
                {% for hostel in hostels[1:] %}
                <div class="col-lg-4 hostel-preview mb-5">
                    <a href="{{ url_for('hostel_details',hostel_name="kwaprow-hostels", name=hostel[0]) }}">
                        <img style="border-radius:10px;" src="{{ hostel[1] }}"
                            width="350px" height="220px">
                    </a>
                    <a href="{{ hostel[2] }}" target="_blank" class="p-5" style="color: #06141b; text-decoration: none;">
                        <h5 class="p-2"><b>{{ hostel[0] }}</b></h5>
                        <p><b>📍 Location 📍</b></p>
                    </a>
                    <p><b>📞 {{  hostel[3] }} 📞</b></p>
                </div>
                {% endfor %}
            </div>
        </div>
        </div>
    </section>


    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
</body>

</html>
